/* @media (min-width: 768px) .md\:ml-\[100px\] {
  margin-left: 100px;
}

.py-14 {
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
}
.w-full {
  width: 100%;
}

.py-14 {
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
}
.w-full {
  width: 100%;
}

.mb-\[70px\] {
  margin-bottom: 70px;
}
.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media (min-width: 768px) .md\:hidden {
  display: none;
}

.-mt-10 {
  margin-top: -2.5rem;
}

.text-secodary-200 {
  --tw-text-opacity: 1;
  color: rgb(112 74 0 / var(--tw-text-opacity));
}
.font-bold {
  font-weight: 700;
}
.text-3xl {
  font-size: 25px;
  line-height: 29px;
}
.text-center {
  text-align: center;
}
.block {
  display: block;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.min-h-\[244px\] {
  min-height: 244px;
}
.z-10 {
  z-index: 10;
}
.relative {
  position: relative;
} */
